@import './all'

html,
body,
div#__next
  display: flex
  flex-flow: column
  min-height: 100vh

// make the page occupy the whole viewport
div#__next > div
  flex: 1
  display: flex
  flex-flow: column

main
  flex: 1

.footer
  padding-bottom: 3rem