@import "./_pages/all";

// fonts

html,
body,
button,
input,
select,
textarea {
  font-family: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 1rem; // 16px
}

.title {
  font-family: "Tinos";
}
