.index-page {
  min-width: 100%;
  min-height: 40rem;
  height: 100vh;

  .main__wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;

    .main__video {
      flex: 2;
      flex-basis: 25rem;
      background: #efefef;
      box-shadow: 0 0 15px 0 #b1b1b1ef;
    }

    .main__content {
      flex: 1 0 25rem;
    }
  }
}
